{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<div class="page-header"><div><h1><i class="fas fa-user-edit"></i> Edit User</h1><p>@{{ edit_user.username }}</p></div><a href="{% url 'users_list' %}" class="btn btn-outline"><i class="fas fa-arrow-left"></i> Back</a></div>
<div class="card" style="max-width:560px;"><div class="card-body">
<form method="post">{% csrf_token %}
  <div class="grid-2">
    <div class="form-group"><label class="form-label">First Name</label><input type="text" name="first_name" class="form-control" value="{{ edit_user.first_name }}"></div>
    <div class="form-group"><label class="form-label">Last Name</label><input type="text" name="last_name" class="form-control" value="{{ edit_user.last_name }}"></div>
  </div>
  <div class="form-group"><label class="form-label">Username</label><input type="text" name="username" class="form-control" value="{{ edit_user.username }}"></div>
  <div class="form-group"><label class="form-label">Email</label><input type="email" name="email" class="form-control" value="{{ edit_user.email }}"></div>
  <div class="form-group"><label class="form-label">Role</label><select name="role" class="form-control"><option value="registry" {% if edit_user.role == 'registry' %}selected{% endif %}>Registry</option><option value="finance" {% if edit_user.role == 'finance' %}selected{% endif %}>Finance</option><option value="lecturer" {% if edit_user.role == 'lecturer' %}selected{% endif %}>Lecturer</option><option value="exam_office" {% if edit_user.role == 'exam_office' %}selected{% endif %}>Exam Office</option><option value="uni_admin" {% if edit_user.role == 'uni_admin' %}selected{% endif %}>Administrator</option><option value="student" {% if edit_user.role == 'student' %}selected{% endif %}>Student</option></select></div>
  <div class="form-group"><label class="form-label">New Password <span style="color:var(--text-muted);font-size:12px;">(leave blank to keep)</span></label><input type="password" name="new_password" class="form-control" placeholder="Leave blank to keep current"></div>
  <button type="submit" class="btn btn-primary" style="width:100%;justify-content:center;"><i class="fas fa-save"></i> Save Changes</button>
</form>
</div></div>
{% endblock %}
